/* css style */
body {
	background-color: white;
	align-content: center;
	text-align: center;
	position: relative;
}

.img-container {
	position: absolute;
	padding-top: 0.5em;
	padding-right: 5em;
	margin-bottom: 5em;
	float: left;
}

.logo-container {
	padding-top: 8em;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 3em;
	height: 1.5em;
}

.form-container {
	background-color: #007bff;
	position: relative;
	margin-top: 2em;
	padding-bottom: 50px;
	width: 30em;
	height: 22em;
	display: inline-block;
	box-sizing: border-box;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
}

.form-content {
	color: #fff;
	margin-top: 50px;
	margin-right: 50px;
	margin-left: 50px;
	text-align: left;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 10px;
}

input[type=text],
input[type=password] {
	font-size: 15px;
	width: 100%;
	padding: 12px 20px;
	margin: 8px 2px;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.btn-primary {
	display: block;
	width: 100%;
	margin-top: 15px;
	height: 40px;
	float: right;
	font-weight: bold;
	background-color: #4caf50;
	border: none;
	color: white;
	border-radius: 20px;
}

.btn-primary:hover {
	opacity: 0.8;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19) !important;
}
